.RollDice {
  text-align: center;
}

.RollDice-Dice {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.RollDice-button {
  border-radius: 50px;
  background: cornflowerblue;
}
